@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&display=swap');

*{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}


:root{
    --hue-color: 240;

    --color-main: hsla(101, 100%, 59%, 0.78);
    --color-active: hsl(101, 100%, 59%);

    --border-clr: hsla(101, 100%, 30%, 0.78);
    --border-active: hsl(101, 100%, 30%);
}

body{
    text-align: center;
    background-color: #111;
}

h1{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 5rem;
    margin: 0 1rem;
    z-index: 10;
}

.shine{
    animation: shine 1s ease-in-out .3s infinite alternate;
}

@keyframes shine {
    0%{
        box-shadow: none;
    }
    100%{
        text-shadow: 0 0 10px var(--color-main), 0 0 20px var(--color-main), 0 0 40px var(--color-main),
        0 0 80px var(--color-main), 0 0 180px var(--color-main);
    }
}

.containerInicio{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    z-index: 10;
}

#comecar{
    background-color: var(--color-main);
    border-radius: 1rem;
    box-shadow: 3px 3px var(--border-clr), 5px 5px 15px #000;
    border: 2px solid var(--border-clr);
    cursor: pointer;
    animation: beggin 2s ease-in-out .3s alternate infinite;
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
    transition: all .3s ease-in-out;
}

#comecar:hover{
    animation: none;
}

#comecar:active{
    box-shadow: 3px 3px var(--border-clr), 0px 0px 15px var(--border-active);
}

@keyframes beggin {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.nomePlayer-Display{
    background-color: #111;
    z-index: 9;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputUser{
    margin: 2rem 5px;
    background-color: var(--color-main);
    border: none;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 300px;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.inputUser::placeholder{
    color: #111;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
}

.inputUser:hover{
    box-shadow: 0px 0px 10px var(--color-main);
    transition: all .3s ease-in-out;
}

.inputUser:focus{
    box-shadow: -5px 10px 1.5rem black;
    transition: all .3s ease-in-out;
}

.fieldNames{
    background-color: #202020;
    padding: 2% 4%;
    border-radius: 2rem;
}

.inpN{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio{
    background-color: #ffe17f;
    margin: 5rem;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.display{
    background-color: #202020;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem auto;
    border-radius: 2rem;
    padding: 1rem;
    width: 35%;
}

.reset{
    position: relative;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    line-height: 1px;
    font-size: 4rem;
    cursor: pointer;
    animation: bounce 1s ease-in-out .3s infinite alternate;
    transition: all ease-in-out .3s;
}

@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(20%) scale(1.1) rotate(180deg);
        background-color: var(--color-main);
        box-shadow: 0 0 10px var(--color-main), 0 0 20px var(--color-main), 0 0 40px var(--color-main),
        0 0 80px var(--color-main), 0 0 180px var(--color-main);
    }
}


.square{
    display: inline-block;
    
    width: 150px;
    height: 150px;
    width: 10vw;
    height: 10vw;

    background-color: var(--color-main);
    opacity: .9;
    margin: .3rem;

    /* * Efeito meio cartoon */
    box-shadow: 3px 3px var(--border-clr), 5px 5px 15px #000000;
    border: 2px solid var(--border-clr);

    transition: all ease-in-out .2s;
    cursor: pointer;
    border-radius: .5rem;
}

.square:active{
    box-shadow: 0px 0px 15px var(--color-active);    
    background-color: var(--color-active);

    box-shadow: 1px 1px var(--border-active), 0px 0px 10px var(--color-main);
    border: 1px solid var(--border-active);

    transition: all ease-in-out .2s;
    transition-delay: .5;
}

.back{
    position: absolute;
    font-size: 10vw;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-main);
    margin: 15px;
    border: 5px solid var(--color-main);
}

@keyframes surgir {
    0%{
        font-size: 0px;
        line-height: 9rem;
        opacity: 0.5;
    }
    100%{
        font-size: 80px;
        line-height: 9rem;
        opacity: 1;
    }
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "🛡️";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: surgir .3s ease-in-out both;
}

.x{
    position: relative;
}

.x:after{

    position: absolute;
    content: "⚔️";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: surgir .3s ease-in-out both;
}

.zero{
    border-radius: 1.5rem .5rem .5rem .5rem;
}

.dois{
    border-radius:  .5rem 1.5rem .5rem .5rem;
}

.seis{
    border-radius:  .5rem .5rem .5rem 1.5rem;
}

.oito{
    border-radius:  .5rem .5rem 1.5rem .5rem;
}

/* Turn screen into the dark and brightness text */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 10vw;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--color-main), 0 0 20px var(--color-main), 0 0 40px var(--color-main),
        0 0 80px var(--color-main), 0 0 180px var(--color-main);
}

.winning-message.show {
    display: flex;
}

.swal-overlay{
    background-color: #111111d0;
}

.swal-title{
    color: #111;
    font-size: 2rem;
}
 .swal-text{
    color: #111;
    font-size: 1.5rem;
}

.colorAlert{
    background-color: var(--color-main);
    backdrop-filter: blur(8px);
    border-radius: 2rem;
}

.swal-button {
    padding: 10px 20px;
    border-radius: 1rem;
    background-color: #fff;
    font-size: 1rem;
    border: none;
    color: #000;
    box-shadow: -2px 5px 10px #1119;
}

.swal-button:focus{
    box-shadow: -2px 5px 10px #1119;
}

.swal-button:hover{
    box-shadow: none;
}

.swal-footer {
    background-color: #6cff4f;
    margin-top: 32px;
    overflow: hidden;
}

@media screen and (max-width: 580px) {

    h1{
        font-size: 10vw;
    }

    .square{
        width: 20vw;
        height: 20vw;

        box-shadow: 5px 5px 15px #000000;
        border-top: 3px solid var(--border-clr);
        border-bottom: 6px solid var(--border-clr);
        border-left: 3px solid var(--border-clr);
        border-right: 6px solid var(--border-clr);
    }

    .square:active{
        box-shadow: 5px 5px 15px var(--color-main);
        border-top: 1px solid var(--border-active);
        border-bottom: 3px solid var(--border-active);
        border-left: 1px solid var(--border-active);
        border-right: 3px solid var(--border-active);
    }
    
    @keyframes surgir {
        0%{
            font-size: 0px;
            line-height: 5rem;
            opacity: 0.5;
        }
        100%{
            font-size: 10vw;
            line-height: 20vw;
            opacity: 1;
        }
    }

    .display{
        font-size: 2rem;
        width: calc(100vw - 30%);
    }

    .fieldNames{
        padding: 0.5rem 5vw;
    }

    .inputUser{
        display: flex;
        width: 50vw;
    }

    .back{
        position: static;
        margin: 2rem 10rem;
        border: 5px solid #fff;
        color: #fff;
    }
}

/* todo --> Responsividade */
/* todo --> Hover pros icons */