@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&display=swap');

*{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}


:root{
    --color-main: #70ff2ec7;
    --color-active: #70ff2e;

    --border-clr: #319b00c7;
    --border-active: #319b00;
    --shadow-: 5px 5px 15px #242424;
}

body{
    text-align: center;
    background-color: #111;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 1rem;
    z-index: 5;
}

.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button{
    position: relative;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    line-height: 1px;
    font-size: 4rem;
    cursor: pointer;
    animation: bounce 1s ease-in-out .3s infinite alternate;
    transition: all ease-in-out .3s;
}

@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(20%) scale(1.1) rotate(180deg);
        background-color: var(--color-main);
        box-shadow: 0 0 10px var(--color-main), 0 0 20px var(--color-main), 0 0 40px var(--color-main),
        0 0 80px var(--color-main), 0 0 180px var(--color-main);
    }
}

.square{
    display: inline-block;
    
    width: 150px;
    height: 150px;
    width: 10vw;
    height: 10vw;

    background-color: var(--color-main);
    opacity: .9;
    margin: .3rem;
    box-shadow: 5px 5px 15px #242424;    
    transition: all ease-in-out .2s;
    cursor: pointer;
    border-radius: .5rem;
    border-right: 6px solid var(--border-clr);
    border-bottom: 6px solid var(--border-clr);
    border-top: 3px solid var(--border-clr);
    border-left: 3px solid var(--border-clr);
}

.square:active{
    box-shadow: 0px 0px 15px var(--color-active);    
    background-color: var(--color-active);
    border-right: 4px solid var(--border-active);
    border-bottom: 4px solid var(--border-active);
    border-top: 1px solid var(--border-active);
    border-left: 1px solid var(--border-active);
    transition: all ease-in-out .2s;
    transition-delay: .5;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 80px;
    line-height: 8.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x:after{

    position: absolute;
    content: "\2694";
    font-size: 80px;
    line-height: 8.5rem;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zero{
    border-radius: 1.5rem .5rem .5rem .5rem;
}

.dois{
    border-radius:  .5rem 1.5rem .5rem .5rem;
}

.seis{
    border-radius:  .5rem .5rem .5rem 1.5rem;
}

.oito{
    border-radius:  .5rem .5rem 1.5rem .5rem;
}

/* Turn screen into the dark and brightness text */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--color-main), 0 0 20px var(--color-main), 0 0 40px var(--color-main),
        0 0 80px var(--color-main), 0 0 180px var(--color-main);
}

.winning-message.show {
    display: flex;
}

@media screen and (max-width: 580px) {
    .square{
        width: 15vw;
        height: 15vw;
/* 
        width: 5rem;
        height: 5rem; */
    }

    .x:after{
        font-size: 3rem;
        line-height: 4rem;
    }
    
    .o:after{
        font-size: 3rem;
        line-height: 4rem;
    }
    /* .stage{
        width: 60vw;
    } */
}

/* todo --> Responsividade */
/* todo --> Melhorar design */
/* todo --> Adc animações */
/* todo --> Melhorar os icons */
/* todo --> Hover pros icons */